.atom/.apm/
.atom/.node-gyp/
.atom/blob-store/
.atom/compile-cache/
.atom/packages/
.atom/storage/

.tmux/resurrect/
.tmux/plugins/*
!.tmux/plugins/.keep

.vim/bundle/
.vim/swp/*
!.vim/swp/.keep
.vim/backup/*
!.vim/backup/.keep
.vim/.netrwhist
.vim/plugged/

.zsh/plugins/*
!.zsh/plugins/.keep
