.atom/.apm/
.atom/.node-gyp/
.atom/blob-store/
.atom/compile-cache/
.atom/packages/
.atom/storage/
.tmux/resurrect/*.txt
.vim/.netrwhist
.vim/bundle/
.vim/tmp/
!.vim/bundle/neobundle.vim
!.vim/bundle/NeoBundle.lock
