.atom/.apm/
.atom/.node-gyp/
.atom/blob-store/
.atom/compile-cache/
.atom/packages/
.atom/storage/

.tmux/resurrect/
.tmux/plugins/*
!.tmux/plugins/.keep

.vim/bundle/
.vim/tmp/*
!.vim/tmp/.keep
.vim/.netrwhist

.zsh/plugins/*
!.zsh/plugins/.keep
